<StackLayout padding="50" (tap)="close()" class="details" backgroundColor="white" tkExampleTitle tkToggleNavButton>
    <!--<RadListView [items]="frameworks" class="list-group">-->
        <!--<ng-template tkListItemTemplate let-framework="item">-->
            <!--<StackLayout class="list-group-item">-->
                <!--<Label [text]="framework" class="label"></Label>-->
            <!--</StackLayout>-->
        <!--</ng-template>-->
    <!--</RadListView>-->
    <Label textWrap="true" [text]="contact.title.rendered" class="name" ></Label>
    <Label textWrap="true" [text]="contact.acf.fonction" class="position" ></Label>
    <HtmlView html="{{contact.acf.timetable}}"></HtmlView>
    <Label (tap)="phoneTap(contact.acf.telephone)" textWrap="true" [text]="contact.acf.telephone" class="phone" ></Label>
    <Label (tap)="mailTap(contact.acf.email)" textWrap="true" [text]="contact.acf.email" class="mail" ></Label>
</StackLayout>