.details .name{
    font-size: 30;
    horizontal-align: center;
    color:#B2EBF2;
    border-color: #fff #fff #b6b6b6 #fff;
    border-width: 0 0 1 0;
}
.details .position{
    padding: 10 0;
    font-size: 20;
    color:#212121;
}
.details .phone{
    padding: 10 0;
    font-size: 15;
    color:#212121;
}
.details .mail{
    font-size: 15;
    color:#212121;
    padding: 10 0;
}